
<html>
<h1>Travel Scheduler</h1>
<body>
<form action = "/data" method="POST">
  Address: <input type="text" name="address" value="UC Berkeley"><br>
  <input type="submit" value="Submit Location">
</form>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.5036199481533!2d-122.2607285856491!3d37.871903414340174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7718c522d7c1%3A0xda8034ea3b6b3289!2sUniversity+of+California%2C+Berkeley!5e0!3m2!1sen!2sus!4v1555835495390!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
</html>
